<div class="Perfil">
    <!-- Datos de perfil -->
    <fieldset>
      <img src="../../resources/user.png" alt="foto de perfil" id="imagenperfil">
      <div class="izqimg">
        <p><b>Nombre: </b>Administrador</p>
        <p><b>Correo: </b>admin@uleam.com</p>
        <p><b>Teléfono: </b>0999999</p>
        <p><b>Edad: </b>23 años</p>
      </div>
      <div class="izqimg2">
        <p><b>Ciudad: </b>No proporcionada</p>
        <p><b>País: </b>Ecuador</p>
        <p><b>Cargo: </b>No proporcionado</p>
      </div>
      <p id="fotodeperfil">Foto de perfil</p>
    </fieldset>
  </div>