.Perfil fieldset{
    margin: 0 auto;
    margin-top: 100px;
    width: 800px;
    height: 300px;
    background: rgba(16, 54, 82, 0.873);
    border: none;
    border-radius: 20px;
}

.Perfil p{
    font-size: 23px;
    color: #fcfcfc;
    -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: #cbcaca;
}

.Perfil img{
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin-top: -2px;
}

.Perfil .izqimg{
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
}

.Perfil .izqimg2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}


.Perfil #fotodeperfil{
    color: #ffffff;
    -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: #b3b3b3;
    margin-top: -30px;
    margin-left: 12px;
}