
/* Inicio de la configuracion de estilos de la interfaz del login */

.login form{
    height: 0;
}

.login fieldset{ 
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    height: 500px;
    text-align: center;
    background: rgba(21, 69, 104, 0.873);
    border: none;
    border-radius: 20px;
}

.login h1, h2, label{
    color: #ffffff;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.login h1{
    margin-top: 120px;
    margin-bottom: 70px;
    font-size: 45px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #8f8f8f;
    text-align: center;
}

.login label{
    width: 100px;
    display: inline-block;
}

.login #iniciar{
    background-color: rgb(25, 48, 123);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border-radius: 10px;
    border-color:  rgb(29, 51, 126);
}

.login input{
    border-radius: 5px;
    text-align: left;
    padding: 15px 55px;
    background-color: rgb(214, 219, 239);
}

.icon {
    background-repeat: no-repeat;
    background-position: 5px center;
    
    padding-left: 30px; /* Ajusta el valor según el ancho del ícono */
  }
  #usuario {
    background-image: url('../../resources/acceso.png');
    background-size: 30px; /* Ajusta el tamaño del ícono de perfil */
  }
  
  #contraseña {
    background-image: url('../../resources/contra.png');
    background-size: 30px; /* Ajusta el tamaño del ícono de perfil */
  }

.login #contraolv{
    font-weight: bold;
    color: white;
} 

/* Fin de la configuracion de la interfaz de login */