<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    
</head>
<body>
    <div class="login">
        <form (ngSubmit)="iniciarSesion();"> 
          <fieldset>
            <h1>Sistema de Registro de Asistencias (Docentes)</h1>
            <div>
                <input type="text" id="usuario" name="usuario" placeholder="Usuario" class="icon" [(ngModel)]="usuario"><br><br>
            </div>
            <div>
                <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" class="icon" [(ngModel)]="contrasena"><br><br>
            </div>
            <div>
                <input type="submit" value="Iniciar sesión" id="iniciar"><br><br>
            </div>
            <a href="contraolv.html" id="contraolv">¿Olvidaste tu contraseña?</a>
          </fieldset>
        </form>
      </div>
</body>
</html>