.back fieldset{
    background: rgb(154, 212, 241);
    width: 100%;
    border: none;
    margin-left: -8px;
}

.back button{
    border-radius: 100%;
}

.contraolv fieldset{
    text-align: center;
    margin-top: 50px;
    background-color: rgba(4, 58, 97, 0.873);
    border-radius: 10px;
    border-color: rgba(5, 87, 146, 0.967);
    width: 500px;
    margin-left: 500px;
}

.contraolv{
    border-radius: 20px;
    color: #ffffff;
}

.contraolv #Enviar{
    border-radius: 10px;
    padding: 3px 15px;
    background-color: rgb(214, 219, 239);
}

.contraolv input{
    border-radius: 5px;
    text-align: center;
}
