<div class="back">
    <fieldset>
        <button onclick="window.location.href = '/login';">←</button>
    </fieldset>
</div>
<div class="contraolv">
    <form> <!-- Formulario para la peticion de contraseña olvidada -->
        <fieldset>
          <h2>Ingrese su correo</h2>
          <label for="email">E-mail</label>
          <input type="text" name="email" placeholder="Ingrese el correo aquí"><br><br>
          <input type="submit" value="Enviar" id="Enviar" (click)="contraolv()"><br><br>
        </fieldset>
      </form>
</div>