<div class="acercade"> <!-- Fieldset con mision, vision y quienes somos -->
    <fieldset id="fieldsetad1">
        <h1>Misión</h1>
        <p>Formar profesionales competentes y emprendedores desde lo académico, 
            la investigación, y la vinculación, que contribuyan a 
            mejorar la calidad de vida de la sociedad.</p>
    </fieldset>
    <fieldset id="fieldsetad2">
        <h1>Visión</h1>
        <p>Ser un referente nacional e internacional de Institución de Educación Superior
             que contribuye al desarrollo social, cultural y productivo con profesionales éticos, 
             creativos, cualificados y con sentido de pertinencia.</p>
    </fieldset>
    <fieldset id="fieldsetad3">
        <h1>¿Quienes somos?</h1>
        <p>Somos una universidad de carácter humanista, con una clara concepción laica en materia 
            educativa que procura la más exigente libertad de enseñanza y cátedra, entendiendo al 
            estudiante como el gran actor de su proceso de formación y al docente como el gran 
            facilitador del futuro profesional.</p>
    </fieldset>
</div>