<div class="nav-bar">
   <ng-container *ngIf="!isLoginPage() && !isContraolvPage()">
    <nav>
        <ul> <!-- Redireccion del navbar -->
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/registrodoc">Registrar Profesores</a></li>
            <li><a href="/acercade">Acerca de</a></li>
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/ayuda">Ayuda</a></li>
            <li><a href="#" (click)="cerrarSesion()">Cerrar sesión</a></li>
        </ul>
    </nav>
    <div class="universidad">
        <fieldset id="ufieldset">
            <img src="resources/logo.png" alt="logo-uleam">
        </fieldset>
    </div>
   </ng-container>
</div>


<router-outlet></router-outlet>