<div class="ayuda">
    <form> 
        <fieldset>
          <h1>Contacta con nosotros</h1> <!-- Formulario para la pestaña de ayuda -->
          <label for="Nombre">Nombre:</label>
          <input type="text" id="pnombre" name="pnombre" placeholder="Ingrese aquí el nombre"><br><br>
          <label for="Correo">Correo:</label>
          <input type="text" id="correo" name="correo" placeholder="Ingrese aquí el correo"><br><br>
          <label for="Telefono">Telefono:</label>
          <input type="text" id="telefono" name="telefono" placeholder="Ingrese el telefono aquí"><br><br>
          <label for="Comentarios">Comentarios:</label>
          <textarea id="comentario" name="comentario" rows="4" cols="50" placeholder="Ingrese aquí un comentario (Opcional)"></textarea><br><br>
          <input type="submit" value="Enviar" id="Enviar" click="envioformulario()">
        </fieldset>
      </form>
</div>